.answer-button {
  border-radius: 5px;
  border: none;
  background-color: lightblue;
  padding: .5em 1em;
  margin: 10px;
  margin-bottom: 70px;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
}

.answer-button:visited {
  color: black;
}

.answer-button:hover {
  font-weight: bold;
}

.answer-button-container {
  display: flex;
  justify-content: center;
}
