
.edit-button, .delete-button {
border-radius: 5px;
  border: none;
  background-color: lightblue;
  padding: .5em 1em;
  margin: 10px;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
}

.edit-button {
  text-decoration: none;
  color: black;
}

.edit-button:visited {
  color: black;
}

.edit-button:hover, .delete-button:hover {
  font-weight: bold;
}

