.footer {
  height: 45px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  font-size: 12px;
  border-radius: 0 0 20px 20px;
  z-index: 3;
}

.github-a, .linkedin-a {
  text-decoration: none;
  padding: 10px;
}

.cc {
  font-weight: bold;
  font-size: 15px;
}
