.footer {
  height: 45px;
  top: 655px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
  font-size: 12px;
}

.github-a, .linkedin-a {
  text-decoration: none;
  padding: 10px;
}

.cc {
  font-weight: bold;
  font-size: 15px;
}
