
.title-label {
  font-weight: bold;
  padding: 8px;
}

.description-label {
  font-weight: bold;
  padding: 8px;
}

.question-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.errors {
  font-weight: bold;
  text-align: center;
  padding: 3px;
}
