@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body, input, textarea, button, select, a {
  font-family: 'Open Sans';
  font-size: 16px;
}

.form-container {
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-link {
  text-decoration: none;
}

.form-wrapper {
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  /* height: 50%; */
  z-index: 2;
}


.login-form {
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
  padding: 5rem 0;
  z-index: 2;
}

.userLabel, .passLabel {
  padding: 1px;
  font-weight: bold;
}

#username {
  background-color: white;
  margin-bottom: 10px;
}

#password {
  background-color: rgba(255, 255, 255, 1);
}

.login-button, .demo-button {
  border-radius: 5px;
  border: none;
  background-color: lightblue;
  font-weight: 700;
  padding: .5em 1em;
  margin: 10px;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
}

.signup-direct {
  text-decoration: none;
  padding-bottom: 15px;
  font-weight: bold;
}

.login-header {
  margin-top: 50px;
  font-size: 50px;
  font-family: 'Roboto Mono', monospace;
}

.usernameLabel, .passwordLabel {
  margin: 0;
}
