@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body, input, textarea, button, select, a {
  font-family: 'Open Sans';
  font-size: 16px;
}

/* html {
} */

.form-container {
  position: absolute;
  background-image: url('../../../public/images/login.jpg');
  /* background-color: red; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-form{
  z-index: 2;
  position: absolute;
  border-radius: 20px;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 800px;
  height: 500px;
}

.userLabel, .passLabel {
  padding: 1px;
  font-weight: bold;
}

#username {
  background-color: white;
  margin-bottom: 10px;
}

#password {
  background-color: rgba(255, 255, 255, 1);
}

.login-button {
  border-radius: 5px;
  border: none;
  background-color: lightblue;
  font-weight: 700;
  padding: .5em 1em;
  margin: 10px;
  text-transform: uppercase;
  transition: background-color .25s, color .25s;
  cursor: pointer;
}
